@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles//functions.scss";

.msg-wrapper {
  position: relative;
  width: 100%;

  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      width: 100%;
      height: 45px;
      font-size: 1rem;
      background-color: $--input;
      border-radius: $--inputBorderRadius;

      border: setBorder($--inputBorder);
      
      @include phone {
        padding-right: calc(55px + .5rem + .5rem);
        @include ie {
          padding: 0.25rem 0 !important;
        }
      }

      @include desktop {
        padding-right: calc(80px + .5rem + .5rem);
        @include ie {
          padding: 0.25rem 0 !important;
        }
      }

      &:focus {
        color: $--inputText;
      }
    }
  }

  .btn-wrapper {
    position: absolute;
    top: 0.25rem;
    right: .5rem;
    
    .btn {
      height: 45px;
      width: 80px;
      background-color: $--inputBtn;
      color: $--inputBtnText;
      border: setBorder($--inputBtnBorder);
      border-radius: $--inputBtnBorderRadius;

      &:hover {
        background-color: $--inputBtnHover;
        color: $--inputBtnHoverText;
        border: setBorder($--inputBtnHoverBorder);
      }

      @include phone {
        width: 55px;
      }
    }
  }
}
