.input {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  outline: 0;

  &.textarea {
    resize: none;
    word-break: break-all !important;
  }

  &.file {
    display: none;
  }
}
