@import "../../../styles/variables";

.input {
  background-color: $--input;
  color: $--inputText;
  // border: none;
  // border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  outline: 0;

  &.textarea {
    resize: none;
    word-break: break-all !important;
  }

  &.file {
    display: none;
  }

  &::placeholder {
    color: rgba(0,0,0,0.375);
  }

  &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
  }
}
