@import "../../../styles/variables";

.input {
  background-color: $--color-input-bg;
  color: $--color-input-text;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  outline: 0;

  &.textarea {
    resize: none;
    word-break: break-all !important;
  }

  &.file {
    display: none;
  }
}
