@import "../../../styles/variables";

@mixin modal($justifyContent: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
  padding: 10px 15px;
  background-color: $--imageModal;
}

.modal-header {
  @include modal($justifyContent: space-between);
  border-top-left-radius: $--imageModalBorderRadius;
  border-top-right-radius: $--imageModalBorderRadius;
  color: $--imageModalText;

  .btn {
    color: $--imageModalText;
  }
}

.modal-content {
  @include modal;

  &.end-of-modal {
    padding-bottom: 20px;
    border-bottom-left-radius: $--imageModalBorderRadius;
    border-bottom-right-radius: $--imageModalBorderRadius;
  }
}

.modal-footer {
  @include modal($justifyContent: flex-end);
  border-bottom-left-radius: $--imageModalBorderRadius;
  border-bottom-right-radius: $--imageModalBorderRadius;
}
