@import "../../../styles/variables";
@import "../../../styles/mixins";

@mixin modal($justifyContent: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
  padding: 0 7px;
  background-color: rgb(46, 46, 46);
}

.modal-header {
  @include modal($justifyContent: flex-start);
  color: #fff;
  height: 55px;
  border-radius: 0;

  .btn {
    color: #fff;
    font-size: 17px;
  }
}

.modal-content {
  @include modal;
  padding: 20px 15px !important;

  @include phone {
    height: calc(100vh - 55px - 40px - 55px);

    &.end-of-modal {
      height: calc(100vh - 55px - 40px);
    }
  }

  @include desktop {
    min-height: calc(100vh - 55px - 40px);
  }
}

.modal-footer {
  @include modal($justifyContent: flex-end);
  height: 55px;
  border-radius: 0;
}
