@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.card {
  .title {
    padding: 8px 0;
    overflow: hidden;
    word-wrap: break-word;
    @include phone {
      font-size: 16px;
    }
    @include desktop {
      font-size: 18px;
    }
  }

  .text {
    padding: 0;
  }
}
