@import '../../../styles/variables';

.wrapper {
  position: relative;
  background-color: $--bg;
  // height: 100%;

  .messages-section {
    // height: calc(100vh - 55px - 2px - 45px - 10px - 0.5rem);
    overflow: auto;
    height: calc(100vh - 2px - 45px - 10px - 0.5rem - 55px);
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
  }

  .input-section {
    padding: 5px 7px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
