@import "../../../styles/variables";

.loader-wrapper {
  background-color: $--outputMsg;
  border-radius: $--outputMsgBorderRadius;

  @if $--outputMsgBorder != none {
    border: 1px solid $--outputMsgBorder;
  }
  
  width: 100px;
  height: 45px;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
