.loader-wrapper {
    background-color: #fff;
    border-radius: .25rem;
    width: 100px;
    height: 75px;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}