$Phone: "Only screen and (max-width : 768px) ";
$Desktop: "screen and (min-width : 769px)";

.btn {
  font-weight: 400;
  background-color: #756ff1;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  padding: 0.25rem 0.75rem;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;

  @media #{$Phone} {
    font-size: 0.75rem;
  }

  @media #{$Desktop} {
    font-size: 1rem;
  }

  &:disabled {
    background-color: #e8edf6;
  }

  &:hover,
  :active {
    background-color: rgb(103, 95, 253);
    cursor: pointer;
  }

  &.btn-link {
    background-color: transparent !important;

    &:hover,
    :active {
      background-color: transparent !important;
    }
  }
}
