$Phone : "Only screen and (max-width : 768px) ";
$Desktop : "screen and (min-width : 769px)";

.btn {
    font-weight: 400;
    background-color: #756FF1;
    color: #fff;
    border: none;
    border-radius: .5rem;
    outline: 0;
    padding: .25rem .75rem;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;

    @media #{$Phone} {
        font-size: .75rem;
    }
    
    @media #{$Desktop} {
        font-size: 1rem;
    }

    &:disabled {
        background-color: #E8EDF6;
    }

    &:hover, :active {
        background-color: rgb(103, 95, 253);
        cursor: pointer;
    }
}