@import "../../../styles/variables";
@import "../../../styles/mixins";

@mixin btn(
$width: fit-content, 
$height: fit-content, 
$radius: .5rem,
$bgColor: $--msgBtn, 
$color: $--msgBtnText, 
$font-size: 1rem,
$padding: 0.25rem 0.75rem) {
  font-size: $font-size;
  background-color: $bgColor;
  color: $color;
  border-radius: $radius;
  padding: $padding;
  width: $width;
  height: $height;
}

.btn {
  @include btn;
  font-weight: 400;
  border: none;
  outline: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @include phone {
    font-size: .75rem;
  }

  &:disabled {
    background-color: $--bg;
    color: #2f353a;
  }

  &:hover,
  :active {
    cursor: pointer;
  }

  &.btn-link {
    background-color: transparent;

    &:hover,
    :active {
      background-color: transparent;
    }
  }
}
