@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles//functions.scss";

@mixin bubble($dir: left, $borderDir: border-left, $borderColorDir: border-right-color, $marginDir: margin-left, $color: transparent) {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top: 0;
  margin-top: -9px;
  #{$dir}: 0;
  #{$borderDir}: 0;
  #{$borderColorDir}: $color;
  #{$marginDir}: -18px;
}

@mixin bubbleWrapper ($dir: left, $borderDir: border-left, $borderColorDir: border-right-color, $marginDir: margin-left, $color: transparent) {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-top: 0;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -10px;
  #{$dir}: -2px;
  #{$borderDir}: 0;
  #{$borderColorDir}: $color;
  #{$marginDir}: -18px;
}

.box-wrapper {
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.05);
  padding: 6px 9px 8px 9px;
  white-space: pre-wrap;
  position: relative;

  .date-time {
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 9px;

    @include phone {
      font-size: 12px;
      @include ie {
        font-size: 14px;
      }
    }

    @include desktop {
      font-size: 14px;
    }
  }

  &.res-msg {
    margin-left: 18px;
    background-color: $--outputMsg;
    color: $--outputMsgText;
    border-radius: $--outputMsgBorderRadius;
    border: setBorder($--outputMsgBorder);

    .date-time {
      color: $--outputDateTimeText;
    }

    &::before {
      @include bubbleWrapper(
        $dir: left, 
        $borderDir:border-left, 
        $borderColorDir:border-right-color, 
        $marginDir:margin-left,
        $color: $--outputMsgBorder
      )
    }

    &::after {
      @include bubble(
        $dir: left, 
        $borderDir:border-left, 
        $borderColorDir:border-right-color, 
        $marginDir:margin-left,
        $color: $--outputMsg
      );
    }
  }
  &.req-msg {
    margin-right: 18px;
    background-color: $--inputMsg;
    color: $--inputMsgText;
    border-radius: $--inputMsgBorderRadius;
    border: setBorder($--inputMsgBorder);

    .date-time {
      color: $--inputDateTimeText;
    }

    &::before {
      @include bubbleWrapper(
        $dir: right, 
        $borderDir:border-right, 
        $borderColorDir:border-left-color, 
        $marginDir:margin-right,
        $color: $--inputMsgBorder
      )
    }

    &::after {
      @include bubble(
        $dir: right, 
        $borderDir:border-right, 
        $borderColorDir:border-left-color, 
        $marginDir:margin-right,
        $color: $--inputMsg
      );
    }
  }

  @include phone {
    font-size: 14px;
    max-width: 65%;
    min-width: 22%;
  }

  @include desktop {
    font-size: 16px;
    max-width: 35%;
    min-width: 10%;
  }

  .contents {
    padding-bottom: 20px;
  }

  .btns {
    padding-bottom: 20px;

    .btn {
      background-color: $--msgBtn;
      color: $--msgBtnText;
      border-radius: $--msgBtnBorderRadius;
      border: setBorder($--msgBtnBorder);

      &:hover {
        background-color: $--msgBtnHover;
        color: $--msgBtnHoverText;
        border: setBorder($--msgBtnHoverBorder);
      }
    }
  }

  .image {
    width: 100%;

    &:hover,
    :active {
      cursor: pointer;
    }
  }
}
