@import "../../../styles/variables";
@import "../../../styles/mixins";

.box-wrapper {
  background-color: $--color-msg-box;
  color: $--color-msg-text;
  border-radius: 0.25rem;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.05);
  padding: 6px 9px 8px 9px;
  white-space: pre-wrap;
  position: relative;

  @include phone {
    font-size: 0.75rem;
    max-width: 65%;
    min-width: 20%;
  }

  @include desktop {
    font-size: 1rem;
    max-width: 35%;
    min-width: 10%;
  }

  .contents {
    padding-bottom: 20px;
  }

  .btns {
    padding-bottom: 20px;
  }

  .date-time {
    color: $--color-date-time;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 9px;

    @include phone {
      font-size: 0.5rem;
      @include ie {
        font-size: 0.75rem;
      }
    }

    @include desktop {
      font-size: 0.75rem;
    }
  }

  .image {
    width: 100%;

    &:hover,
    :active {
      cursor: pointer;
    }
  }
}
