$Phone: "Only screen and (max-width : 768px) ";
$Desktop: "screen and (min-width : 769px)";

/* header */
$--header: var(--header);
$--headerText: var(--headerText);
$--headerBtn: var(--headerBtn);
$--headerBtnHover: var(--headerBtnHover);

/* background */
$--bg: var(--bg);
$--divider: var(--divider);
$--dividerText: var(--dividerText);
$--dividerBorderRadius: var(--dividerBorderRadius);

/* inputMsg */
$--inputMsg: var(--inputMsg);
$--inputMsgText: var(--inputMsgText);
$--inputMsgBorder: var(--inputMsgBorder);
$--inputDateTimeText: var(--inputDateTimeText);
$--inputMsgBorderRadius: var(--inputMsgBorderRadius);

/* outputMsg */
$--outputMsg: var(--outputMsg);
$--outputMsgText: var(--outputMsgText);
$--outputMsgBorder: var(--outputMsgBorder);
$--outputDateTimeText: var(--outputDateTimeText);
$--outputMsgBorderRadius: var(--outputMsgBorderRadius);
$--loader: var(--loader);

/* msgBtn */
$--msgBtn: var(--msgBtn);
$--msgBtnText: var(--msgBtnText);
$--msgBtnBorder: var(--msgBtnBorder);
$--msgBtnBorderRadius: var(--msgBtnBorderRadius);
$--msgBtnHover: var(--msgBtnHover);
$--msgBtnHoverText: var(--msgBtnHoverText);
$--msgBtnHoverBorder: var(--msgBtnHoverBorder);

/* input */
$--input: var(--input);
$--inputText: var(--inputText);
$--inputBorder: var(--inputBorder);
$--inputBorderRadius: var(--inputBorderRadius);

/* inputBtn */
$--inputBtn: var(--inputBtn);
$--inputBtnText: var(--inputBtnText);
$--inputBtnBorder: var(--inputBtnBorder);
$--inputBtnBorderRadius: var(--inputBtnBorderRadius);
$--inputBtnHover: var(--inputBtnHover);
$--inputBtnHoverText: var(--inputBtnHoverText);
$--inputBtnHoverBorder: var(--inputBtnHoverBorder);

/* loader */
$dotWidth: 10px;
$dotHeight: 10px;
$dotRadius: $dotWidth/2;

$dotColor: $--loader;
$dotBgColor: $dotColor;
$dotBeforeColor: $dotColor;
$dotAfterColor: $dotColor;

$dotSpacing: $dotWidth + $dotWidth/2;