$Phone: "Only screen and (max-width : 768px) ";
$Desktop: "screen and (min-width : 769px)";

$--color-bg: var(--bg-color);
$--color-main: var(--main-color);
$--color-main-text: var(--mainText-color);

/* btn */
$--color-btn: var(--btn-color);
$--color-btn-text: var(--btnText-color);
$--color-btn-hover: var(--btnHover-color);
$--color-btn-disabled-text: #2f353a;

/* divider */
$--color-divider-bg: var(--dividerBg-color);
$--color-divider-text: var(--dividerText-color);

/* input */
$--color-input-bg: var(--input-color);
$--color-input-text: var(--inputText-color);

/* message */
$--color-msg-box: var(--msg-color);
$--color-msg-text: var(--msgText-color);
$--color-date-time: var(--dateTimeText-color);
$--color-loader: var(--loader-color);

/* modal */
$--color-modal-bg: var(--modalBg-color);

/* loader */
$dotWidth: 10px;
$dotHeight: 10px;
$dotRadius: $dotWidth/2;

$dotColor: $--color-loader;
$dotBgColor: $dotColor;
$dotBeforeColor: $dotColor;
$dotAfterColor: $dotColor;

$dotSpacing: $dotWidth + $dotWidth/2;