@import "./variables";

body {
  --header: #756ff1;
  --headerText: #ffffff;
  --headerBtn: #ffffff;
  --headerBtnHover: #ffffff;
  --bg: #f8f9fa;
  --divider: #d3cff9;
  --dividerText: #2f353a;
  --dividerBorderRadius: 1.5rem;
  --inputMsg: #ffffff;
  --inputMsgText: #2f353a;
  --inputMsgBorder: transparent;
  --inputDateTimeText: #73818f;
  --inputMsgBorderRadius: 15px;
  --outputMsg: #ffffff;
  --outputMsgText: #2f353a;
  --outputMsgBorder: transparent;
  --outputDateTimeText: #73818f;
  --outputMsgBorderRadius: 15px;
  --msgBtn: #756ff1;
  --msgBtnText: #ffffff;
  --msgBtnBorder: transparent;
  --msgBtnBorderRadius: .25rem;
  --msgBtnHover: #675FFD;
  --msgBtnHoverText: #ffffff;
  --msgBtnHoverBorder: transparent;
  --loader: #756ff1;
  --input: #ffffff;
  --inputText: #2f353a;
  --inputBorder: transparent;
  --inputBorderRadius: 0.5rem;
  --inputBtn: #756ff1;
  --inputBtnText: #ffffff;
  --inputBtnBorder: transparent;
  --inputBtnBorderRadius: 0.5rem;
  --inputBtnHover: #675FFD;
  --inputBtnHoverText: #ffffff;
  --inputBtnHoverBorder: transparent;
  --talkPop: #756ff1;
  --talkPopText: #ffffff;
  --talkPopBorder: transparent;
  --talkPopBorderRadius: 6px;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

html, body, div#__next {
  background-color: $--bg;
  margin: 0 auto;
  font-family: inherit;
  height: 100%;
}
