@import "./variables";

body {
  --header: #f8f9fa;
  --headerText: #ffffff;
  --headerBtn: #ffffff;
  --headerBtnHover: #ffffff;
  --bg: #e8e6fc;
  --divider: #d3cff9;
  --dividerText: #2f353a;
  --dividerBorderRadius: 1.5rem;
  --inputMsg: #ffffff;
  --inputMsgText: #2f353a;
  --inputMsgBorder: none;
  --inputDateTimeText: #73818f;
  --inputMsgBorderRadius: 15px;
  --outputMsg: #ffffff;
  --outputMsgText: #2f353a;
  --outputMsgBorder: none;
  --outputDateTimeText: #73818f;
  --outputMsgBorderRadius: 15px;
  --msgBtn: #756ff1;
  --msgBtnText: #ffffff;
  --msgBtnBorder: none;
  --msgBtnBorderRadius: .25rem;
  --msgBtnHover: #675FFD;
  --msgBtnHoverText: #ffffff;
  --msgBtnHoverBorder: none;
  --loader: #756ff1;
  --input: #ffffff;
  --inputText: #2f353a;
  --inputBorder: none;
  --inputBorderRadius: 0.5rem;
  --inputBtn: #756ff1;
  --inputBtnText: #ffffff;
  --inputBtnBorder: none;
  --inputBtnBorderRadius: 0.5rem;
  --inputBtnHover: #675FFD;
  --inputBtnHoverText: #ffffff;
  --inputBtnHoverBorder: none;
  --imageModal: #ffffff;
  --imageModalText: #2f353a;
  --imageModalCover: #000000;
  --imageModalBorder: none;
  --imageModalBorderRadius: .5rem;
  --talkPop: #756ff1;
  --talkPopText: #ffffff;
  --talkPopBorder: none;
  --talkPopBorderRadius: 6px;
}

html, body, div#__next {
  background-color: $--bg;
  margin: 0 auto;
  font-family: inherit;
  height: 100%;
}
