@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.btn-list {
  border-radius: 0;
  width: 100%;
  min-width: 185px;
  margin-bottom: 8px;

  @include phone {
    height: 37.5px;
  }
  @include desktop {
    height: 45px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
