@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions.scss";

.cover {
  background-color: $--imageModalCover;
  opacity: .27;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;

  &.show {
    display: block !important;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  display: none;
  overflow: hidden;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.03);
  pointer-events: none;
  color: $--imageModalText;

  &.show {
    display: block !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  &.show .modal-dialog {
    margin: 0 auto;
    position: relative;
    pointer-events: auto;
    outline: 0;
    border-radius: $--imageModalBorderRadius;
    border: setBorder($--imageModalBorder);
    min-width: 0;
    width: fit-content;

    @include phone {
      max-width: 94%;

      & .modal-header,
      .modal-footer {
        height: 100%;
      }
    }

    @include desktop {
      max-width: 60%;

      & .modal-header,
      .modal-footer {
        height: 45px;
      }
    }
  }
}
